{
  "_defaults": {
    "account_id": "YOUR_ACCOUNT_ID",
    "customer": "YOUR_CUSTOMER_NAME",
    "customer_id": "YOUR_CUSTOMER_ID",
    "debug": "none",
    "lpm_auth": "none",
    "lpm_token": "YOUR_LPM_TOKEN",
    "password": "YOUR_PASSWORD",
    "sync_config": true,
    "version": "1.570.247",
    "zone": "residential",
    "whitelist_ips": [
      "127.0.0.1",
      "172.19.0.1",
      "172.19.0.0/16",
      "host.docker.internal"
    ],
    "www_whitelist_ips": [
      "0.0.0.0/0"
    ]
  },
  "proxies": [
    {
      "country": "us",
      "debug": "none",
      "iface": "0.0.0.0",
      "keep_alive": true,
      "multiply": 1,
      "pool_size": 1,
      "port": 24000,
      "proxy_resolve": true,
      "zone": "residential",
      "whitelist_ips": [
        "0.0.0.0/0"
      ],
      "null_response": false
    }
  ]
}
